@charset "UTF-8";
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Базовые настройки ------------ */
body {
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
}

/* скрыть заголовки и части текста */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  outline: 2px solid red;
}

/* Создание контейнера ----------- */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.center {
  text-align: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.features,
.team,
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) {
  .features,
  .team,
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.work {
  padding-bottom: 94px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Личный нормализатор -------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  padding: 0;
  /* padding: 0;
  margin: 0; */
  color: var(--title-color);
}

p {
  margin-top: 0;
  /* padding: 0;
  margin: 0; */
}

/* чтоб можно было задать геометрию -------- */
a {
  display: block;
  text-decoration: none;
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Зброс зазора */
img {
  display: block;
  max-width: 100%;
  height: auto;
  /* margin: 0px;
  padding: 0px; */
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .mobile-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .mobile-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-wrap {
    margin-right: 90px;
  }
}

.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 88px;
  }
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    letter-spacing: 0.03em;
  }
}
.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #000000;
}

.icon-close {
  position: absolute;
}

.margin {
  margin-left: auto;
}

.mobile-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.mobile-btn .icon-close {
  display: none;
}

.mobile-btn.is-open .icon-close {
  display: block;
}

.mobile-btn.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-burger {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 800ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 800ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  }
}

.menu-burger.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

.logo-studio-footer {
  color: #ffffff;
}

.menu-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (max-width: 767px) {
  .menu-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    letter-spacing: 0.36px;
  }
}
@media screen and (min-width: 768px) {
  .menu-link {
    letter-spacing: 0.28px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-item {
  margin-bottom: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .menu-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .menu-item {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu-item {
    margin-right: 50px;
  }
}

.menu-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .menu-item:last-child {
    padding-bottom: 0;
  }
}

.menu-link.current {
  color: #2196f3;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.menu-item {
  position: relative;
}

.current::after {
  display: block;
  position: absolute;
  /* display: inline-flex; */
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  border: 3px solid #2196f3;
  /* background: #2196F3; */
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .current::after {
    width: 100%;
    border-radius: 2px;
    margin-bottom: -10px;
  }
}

@media screen and (min-width: 768px) {
  .menu-contacts {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .menu-contacts {
    margin-top: 22px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-contacts {
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 305px;
  }
}

.contacts-item {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .contacts-item {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
  }
}

.contacts-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .contacts-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-item:last-child {
    margin-bottom: 0;
  }
}

.contacts-svg {
  margin-right: 10px;
  width: 15px;
  height: 20px;
  vertical-align: -35%;
}

.contacts-icon {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #212121;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: #2196f3;
  color: #2196f3;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (max-width: 767px) {
  .contacts-link {
    font-size: 14px;
    letter-spacing: 0.36px;
  }
}

.overlay {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* если картинка не отрисуеться то будет фон */
}
@media screen and (max-width: 767px) {
  .overlay {
    max-width: 480px;
    background-image: url("/images/hero/bh-img-480.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("/images/hero/bh-img-480.jpg"), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("/images/hero/bh-img-480-2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .overlay {
    max-width: 480px;
    background-image: url("/images/hero/bh-img-480.webp"), -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("/images/hero/bh-img-480.webp"), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("/images/hero/bh-img-480-2x.webp");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    width: 768px;
    background-image: url("/images/hero/bg-img-768.webp"), -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("/images/hero/bg-img-768.webp"), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("/images/hero/bg-img-768-2x.webp");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    max-width: 768px;
    background-image: url("/images/hero/bg-img-768.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("/images/hero/bg-img-768.jpg"), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("/images/hero/bg-img-768-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    width: 1600px;
    height: 600px;
    background-image: url("/images/hero/bg-img-1200.webp"), -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("/images/hero/bg-img-1200.webp"), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("/images/hero/bg-img-1200-2x.webp");
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    width: 1600px;
    height: 600px;
    background-image: url("/images/hero/bg-img-1200.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("/images/hero/bg-img-1200.jpg"), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("/images/hero/bg-img-1200-2x.jpg");
  }
}

.hero {
  background-color: rgba(47, 48, 58, 0.4);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 1.56px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    font-family: Roboto;
    line-height: 60px;
    letter-spacing: 2.64px;
  }
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}
.btn-clouse {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  /* прозрачность и спрятать модуалку */
  pointer-events: none;
  /* пропускать через модалку события */
}

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: var(--white-color);
} */
.form {
  display: inline-block;
  /* поставить по центру */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* position: relative; */
  /* margin-right: auto;
  margin-left: auto; */
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .form {
    width: 450px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
    height: auto;
  }
}
.form .form-icon {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  width: 30px;
  height: 30px;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.form-icon:hover, .form-icon:focus {
  fill: #2196f3;
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .form-title {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.6px;
  }
}

.form-input {
  padding-left: 15px;
  margin-bottom: 30px;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.form-input:hover,
.form-input:focus,
textarea:hover,
textarea:focus {
  border: 1px solid #2196f3;
}

textarea {
  padding: 12px 15px;
  margin-bottom: 20px;
  resize: none;
  width: 100%;
  cursor: pointer;
  width: 448px;
  height: 120px;
}
@media screen and (max-width: 1199px) {
  textarea {
    width: 370px;
    height: 120px;
  }
}

.real-checkbox {
  display: inline-block;
  /* снять все дефолтное оформление от браузера */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; */
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  vertical-align: middle;
}

.custom-checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  /* border: 1px solid var(--accent-color); */
  background-image: url(../images/icon\ check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: cover; */
}

.real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.form-text,
.form-link {
  /* text-align: center; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .form-text,
  .form-link {
    font-size: 12px;
    letter-spacing: 0.12px;
  }
}

.form-link {
  margin-left: 4px;
  color: #2196f3;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .btn {
  margin-top: 30px;
  padding-left: 55px;
  padding-right: 55px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .features-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .features-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1600px) {
  .features .features-title {
    text-align: center;
  }
}

.features-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (max-width: 767px) {
  .features-item::before {
    max-width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-item::before {
    max-width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .features-item::before {
    max-width: 270px;
    height: 120px;
  }
}

.features-item:hover:before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.features-item:nth-child(1)::before {
  background-image: url(../images/icon/antenna-1.svg);
}

.features-item:nth-child(2)::before {
  background-image: url(../images/icon/clock-2.svg);
}

.features-item:nth-child(3)::before {
  background-image: url(../images/icon/diagram-3.svg);
}

.features-item:nth-child(4)::before {
  background-image: url(../images/icon/astronaut-4.svg);
}

.features-title {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}

.features-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
@media screen and (max-width: 767px) {
  .features-text {
    max-width: 450px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}

.features-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .features-item {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .features-item:nth-child(n+4) {
    margin-bottom: 0;
  }
}

.features-item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-item:nth-child(n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features-item:nth-child(n+1) {
    margin-bottom: 0;
  }
}

.work-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.work-item {
  display: inline-block;
  /* width: calc((100% - 60px) / 2); */
  margin-right: 30px;
}
.work-item:last-child {
  margin-right: 0;
}

.work-image {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.work-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .team-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .team-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team {
  text-align: center;
  background: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
@media screen and (max-width: 767px) {
  .team-title {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    letter-spacing: 1.08px;
  }
}

.team-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .team-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .team-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .team-item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item:nth-child(n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .team-item:nth-child(1n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .team-item:last-child {
    margin-bottom: 0;
  }
}

.team-item:hover,
.team-item:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-subtitle,
.team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #000000;
}

.team-text {
  padding-bottom: 16px;
  font-weight: 400;
  color: #757575;
}

.team-list-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  border: 0;
  border-radius: 50%;
  fill: #afb1b8;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.team-list-icon a:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.team-list-icon {
  margin-right: 10px;
}

.team-icon {
  width: 20px;
  height: 20px;
}

.team-list-icon:last-child {
  margin-right: 0;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 479px) {
  .clients-list {
    display: inline-block;
  }
}

.clients {
  text-align: center;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}
@media screen and (min-width: 480px) {
  .clients-title {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    letter-spacing: 1.08px;
  }
}

.clients-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item:nth-child(n+4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item:nth-child(n+1) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .clients-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-item:nth-child(n+5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .clients-item:nth-child(2n) {
    margin-right: 0;
  }
}

.clients-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (max-width: 767px) {
  .clients-logo {
    width: 210px;
    height: 90px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-logo {
    width: 226px;
    height: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-logo {
    width: 170px;
    height: 90px;
  }
}

.clients-logo:hover,
.clients-logo:focus {
  fill: #2196f3;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  text-align: center;
  background-color: #2f303a;
}

.footer-text {
  display: block;
  margin-bottom: 20px;
  margin-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .footer-text {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-text {
    margin-top: 0;
  }
}

.address-map {
  margin-top: 20px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .footer-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .footer-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin: 0 auto;
  }
}

.footer-icons {
  margin-left: 70px;
}
@media screen and (max-width: 767px) {
  .footer-icons {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-icons {
    margin-left: 0;
  }
}

.address-map,
.address-link {
  margin-bottom: 9px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.no-margin {
  margin-bottom: 0;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  border: 0;
  border-radius: 50%;
  /* fill: #afb1b8; */
  fill: #ffffff;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-list-icon a:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.footer-list-icon {
  margin-right: 10px;
}

.footer-list-icon:last-child {
  margin-right: 0;
}

.footer-icon {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=main.css.map */