.header {
  position: relative;
  // position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  // min-height: 60px;
  background-color: inherit;
  // z-index: 999;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.tablet-wrap {
  @media screen and (min-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile-wrap {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    margin-right: 88px;
  }

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    letter-spacing: 0.72px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    letter-spacing: 0.03em;
  }

  &-web {
    color: $accent-color;
  }

  &-studio {
    color: $black-color;
  }
}

.icon-close {
  position: absolute;
}

.margin {
  margin-left: auto;
}

.mobile-btn {
  // убрали все базовые стили кнопки
  display: inline-flex;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-btn .icon-close {
  display: none;
}

.mobile-btn.is-open .icon-close {
  display: block;
}

.mobile-btn.is-open .icon-menu {
  display: none;
}

.menu-burger {
  @media screen and (max-width: 767px) {
    // display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background-color: $white-color;
    padding: 10px;
    text-align: center;
    font-size: 20px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateY(-100%);
    transition: transform 500ms linear;

    padding-top: 60px;
    padding-bottom: 60px;
  }

  &.is-open {
    // display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: none;

    transform: translateY(0);
  }

  &-web {
    color: $accent-color;
  }

  &-studio {
    color: $black-color;
  }
}

.logo-studio-footer {
  color: $white-color;
}

.menu-link {
  
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  @media screen and (max-width: 767px) {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    letter-spacing: 0.36px;
  }

  @media screen and (min-width: 768px) {
    letter-spacing: 0.28px;
  }
}

.menu-item {
  margin-right: 50px;
  margin-bottom: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.menu-item:last-child {
  margin-right: 0;

  @media screen and (max-width: 767px) {
    padding-bottom: 0;
  }
}

.menu-link.current {
  color: $accent-color;
}

.menu-link:hover,
.menu-link:focus {
  color: $accent-color;
}

.menu-item {
  position: relative;
}

.current::after {
  display: block;
  position: absolute;
  /* display: inline-flex; */
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  border: 3px solid $accent-color;
  /* background: #2196F3; */
  border-radius: 2px;

  @media screen and (max-width: 767px) {
    width: 100%;
    border-radius: 2px;
    margin-bottom: -10px;
  }
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: -15px;
  width: 155%;
  padding: 0;
  margin: 0;

  list-style: none;
  background-color: #f9f9f9;
  border: 1px solid var(--accent-color);
  border-radius: 0px 0px 4px 4px;

  &-item {
    padding: 10px;
    margin: 10px;
  }

  &-link {
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }

  &-link:hover,
  &-link:focus {
    color: $accent-color;
  }
}

.menu-item:hover .submenu {
  display: block;
}

.contacts {
  // padding-top: 20px;
  // padding-bottom: 20px;

  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  &-item {
    margin-right: 30px;

    @media screen and (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &-item:last-child {
    margin-right: 0;

    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  &-svg {
    margin-right: 10px;
    width: 15px;
    height: 20px;
    vertical-align: sub;
  }

  &-icon {
    display: inline-block;
    align-items: center;

    color: #757575;
    fill: #212121;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }

  &-icon:hover,
  &-icon:focus {
    fill: #2196f3;
    color: $accent-color;
  }
}

.contacts-link {
  // margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $text-color;

  @media screen and (max-width: 767px) {
    font-size: 18px;
    letter-spacing: 0.36px;
  }
}

.margin-left {
  @media screen and (max-width: 768px) {
    display: inline-block;
    margin-left: auto;
  }
}
